@import "bootstrap-sprockets";
@import "bootstrap";
@import "compass/css3";

html, body {
	height: 100%;
}

* {
	box-sizing: border-box;
}

.navbar {
	margin-bottom: 0;
	border-bottom: none;
}

$pageWidth: 11in;
$pageHeight: 8.5in;
$pageMargin: 0.25in;

@media print {
	@page {
		size: landscape;
	}

	.navbar,
	.gm-style-cc,
	.gm-style > div > a::after {
		display: none;
	}

	/* fixes Google map tile printing - http://stackoverflow.com/a/21396697/168815 */
	.map img {
	    max-width: none !important;
	    box-shadow: none !important;
	}

	thead {
		display: table-header-group;
	}

	th, td {
		white-space: nowrap;
		font-size: 12px;
	}
}

.fullscreen {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: -50px;
	padding-top: 50px;

	.map {
		width: 100%;
		height: 100%;
	}
}

.page {
	min-height: $pageHeight - (2 * $pageMargin);
	width: $pageWidth - (2 * $pageMargin);
	margin: auto;

	.map {
		height: $pageHeight - (2 * $pageMargin);
		width: $pageWidth - (2 * $pageMargin);
		margin-bottom: 0.25in;
		page-break-after: always;
	}

	.table {
		page-break-after: always;
	}
}

.marker {
	display: inline-block;
	@include border-radius(12px);
	@include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.5) !important);
	background: lavender !important;
	color: black !important;
	font-weight: bold;
	text-align: center;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 14px;
}

// colors by http://colorbrewer2.org
.marker.cluster-1 { background-color: #8dd3c7 !important; }
.marker.cluster-2 { background-color: #ffffb3 !important; }
.marker.cluster-3 { background-color: #bebada !important; }
.marker.cluster-4 { background-color: #fb8072 !important; }
.marker.cluster-5 { background-color: #80b1d3 !important; }
.marker.cluster-6 { background-color: #fdb462 !important; }
.marker.cluster-7 { background-color: #b3de69 !important; }
.marker.cluster-8 { background-color: #fccde5 !important; }
.marker.cluster-9 { background-color: #d9d9d9 !important; }
.marker.cluster-10 { background-color: #bc80bd !important; }
.marker.cluster-11 { background-color: #ccebc5 !important; }
.marker.cluster-12 { background-color: #ffed6f !important; }

