<!doctype html>
<html>

<head>
  <title>Mapper</title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= htmlWebpackPlugin.options.GOOGLE_API_KEY %>&libraries=drawing,geometry"></script>
</head>

<body ng-app="mapper">
  <app></app>
</body>

</html>